/* Make clicks pass-through */
/* Modified by Peiwen Lu @ 06 Nov 2013 */

#nprogress {
    pointer-events: none;
    -webkit-pointer-events: none;
}
#nprogress .bar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f8645a;
}
/* Fancy blur effect */

#nprogress .peg {
    position: absolute;
    right: 0;
    display: block;
    width: 100px;
    height: 100%;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
    opacity: 1.0;
    box-shadow: 0 0 10px #f8645a, 0 0 5px #f8645a;
}
/* Remove these to get rid of the spinner */

#nprogress .spinner {
    position: fixed;
    z-index: 100;
    display: block;
}
@media screen and (max-width: 585px) {
    #nprogress .spinner {
        top: 5px;
        right: 5px;
    }
}
#nprogress .spinner-icon {
    -webkit-animation: spin 400ms linear infinite;
    -moz-animation: spin 400ms linear infinite;
    -ms-animation: spin 400ms linear infinite;
    -o-animation: spin 400ms linear infinite;
    animation: spin 400ms linear infinite;
    border: solid 2px transparent;
    border-top-color: #f8645a;
    border-left-color: #f8645a;
    border-radius: 50%;
}