<div class="content_btn_wrap">
  <button id="content_btn" class="btn btn-primary">
    <i class="fa fa-lg fa-plus"></i>
  </button>
</div>
<div class="nav_btn_wrap">
  <button id="nav_btn" class="btn btn-primary">
    <i class="fa fa-lg fa-navicon"></i>
  </button>
</div>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script src="/public/js/jquery.pjax.js"></script>
<script src="/public/js/prettify/prettify.js"></script>
<script src="/public/js/base.js"></script>
<!-- <script src="/public/js/jquery.scrollUp.js"></script> -->
<script src="/public/js/nprogress.js"></script>
<script>
    $('a[href="#nav_catalog_{{ site.active }}"]').tab('show');
</script>

<!--button是右上方导航和显示目录的按钮>
